<div class="card m-3 " style="width: 20rem;">
    <div class="card-header text-white bg-warning">
        <h3>${engineer.name}</h3>
        <h5>${engineer.getRole()}</h5>
    </div>
    <div class="card-body bg-light text-dark">
        <ul class="list-group">
            <li class="list-group-item" style="font-size: 14px;">ID: ${engineer.id}</li>
            <li class="list-group-item" style="font-size: 14px;">Email: ${engineer.email}</li>
            <li class="list-group-item" style="font-size: 14px;">GitHub: ${engineer.github}</li>
        </ul>
    </div>
</div>